@model Practica02.Models.Cliente
@{
    ViewBag.Title = "Editar";
}

<h2>Editar cliente</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => Model.IdCliente)

    <div class="form-group">
        @Html.LabelFor(model => Model.NroDocumento)
        @Html.EditorFor(model => Model.NroDocumento, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Model.Direccion)
        @Html.EditorFor(model => Model.Direccion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Model.Telefono)
        @Html.EditorFor(model => Model.Telefono, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => Model.Nombre)
        @Html.EditorFor(model => Model.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Actualizar" class="btn btn-primary" />
    </div>

    @Html.ActionLink("Eliminar cliente", "Eliminar", new { id = Model.IdCliente }, new { @class = "btn btn-primary" })
}

